<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <title><%= data.page.title || "Responsive Email Patterns" %></title>
        <link rel="icon" type="icon" href="images/favicon.png">
        <%= stylesheet_link_tag "all" %>
        <%= javascript_include_tag  "plugins/modernizr","init" %>
    </head>
    <body class="<%= page_classes %>">
        
        <%= partial "partials/header-home" %>

        <section class="main">
            <div class="wrap">
                <%= yield %>
            </div>
        </section>

        <%= partial "partials/footer" %>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <%= javascript_include_tag  "all" %>
    </body>
</html>
