---
title: Responsive Email Patterns
desc: "A collection of patterns &amp; modules for responsive emails"
submit: true
---

<ul>
<% data.categories.each do |category| %>
<li class="grid" id="<%= category.id %>">
	<h2><a href="#<%= category.id %>"><%= category.name %></a></h2>
	<ul>
		<% category.patterns.each do |pattern| %>
		<li><a href="patterns/<%= category.id %>/<%= pattern.id %>.html"><%= pattern.name %></a>
		<% end %>
	</ul>
<% end %>
</ul>